<!-- new_page.html -->
{% extends "layout.html" %}

{% block title %}Login-Page{% endblock %}

{% block content %}


<div class = "TJcontent">
  <div class="container">
    <div class="starter-template">
      <h1>{{content.url_name}}</h1>
      {{content.body|markdown}}
    </div>
    <form action="/wiki/login" method="post">
      <div>
          <label>Username:</label>
          <input type="text" name="username"/>
      </div>
      <div>
          <label>Password:</label>
          <input type="password" name="password"/>
      </div>
      <div>
          <input type="submit" value="Log In"/>
      </div>
    </form>
    <button><a href="/wiki/new_user">New User</a></button>
  </div>
</div>
{% endblock %}

<!-- i need an edit button
